<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.butterflyHunter"
    android:installLocation="auto"
    android:versionCode="1"
    android:versionName="1.1" >

    <application
        android:icon="@drawable/butterfly1"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.gui.FirstInterfaceActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.gui.MenuActivity" >
        </activity>
        <activity android:name="com.ar.CameraActivity" android:parentActivityName="com.gui.FirstInterfaceActivity">
        </activity>
    </application>

    <uses-sdk
        android:minSdkVersion="4"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.CAMERA" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" >
    </uses-permission>

</manifest>